<div>

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" routerLink="/contact">Contact me</a>
            <a class="nav-item nav-link"routerLink="/converter">Converter</a>
            <a class="nav-item nav-link" *ngIf="shared.isUserLoggedIn" routerLink="/user/register">Register User</a>
            <a class="nav-item nav-link"routerLink="/user/list">User list</a>
            <a class="nav-item nav-link" *ngIf="!shared.isUserLoggedIn" routerLink="/login">login</a>
          </div>
        </div>
      </nav>

</div>
