label{

    color:orange;
    padding-right: 1em;
    

}

input, number{


border-radius: 7px;
color:orange;

text-align: left;
margin-top: 1em;


}

.lform{
    
    text-align: center;
    margin-top: 7em;
  
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    
    
}

#butt1{

    
    
    margin-left: 1.1em;
    margin-top: 1em;
    color: orange;
    
    border-radius: 7px;
    margin-bottom: 2em;
    
    
    
}

#butt2{

    
    
    margin-left: 1.1em;
    margin-top: 1em;
    color:orange;
    
    border-radius: 7px;
    
    
    
}




#input1{
display: inline-flex;
margin-bottom: 2em;

    
}

#input2{
    display: inline-flex;
    

}

p, strong{

    color: orange;
}