label{

    color: orange;
    padding-right: 1em;
    

}

input{

color: orange;

text-align: left;
margin-top: 1em;
border-radius: 7px;

}

.lform{

    text-align: center;
    margin-top: 7em;
   
    opacity: 0.6;
    background-position: center;
    background-repeat:no-repeat;
    
}

.butt{

    margin-right: 1.8em;

}

