<div class ="container">
    
    <p id="intro">Welcome to Judd Works Designs Home Page</p>


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus labore itaque quo molestiae est, debitis ut minus, fugiat aut vel libero minima enim distinctio accusamus nesciunt ratione delectus deserunt suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum possimus voluptatibus reiciendis quibusdam molestiae quidem! Ut aut nisi eius aliquam rerum sequi explicabo voluptatem modi, vitae, quas necessitatibus sapiente quo. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, amet eius officiis omnis itaque, voluptate excepturi aut commodi eligendi quisquam beatae quasi. Unde qui adipisci eaque. Doloremque modi omnis minus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, accusantium maxime. Sunt molestias, rerum ab possimus blanditiis repellendus ut corporis velit saepe officia unde, aspernatur fugiat dolore animi, ducimus incidunt.</p>


    

</div>

<div class ="container">
    <footer class = "footer">Judd Works Designs @ LLC. All rights reserved.</footer> 
</div> 